certifi
cycler
kiwisolver
matplotlib
numpy
pandas
pyparsing
python-dateutil
pytz
scipy
seaborn
six
wincertstore
torch
tqdm
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
